.container {
    max-width: 1250px;
    margin: 0 auto;
}

.anywhere {
    margin-top: 120px;

    h1 {
        font-weight: 600;
        font-size: 80px;
        line-height: 110%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #0A112F;
    }

    h1 span {
        color: #3981F7;
    }

    p {
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: #585860;
    }
    &__img{
        text-align: center;
        margin-top: 88px;
    }



}